accelerate>=0.33.0
bitsandbytes>=0.43.1
opencv-python-headless
numpy
pillow
safetensors
peft>=0.11.1
transformers>=5.7.0,<6
huggingface-hub
sentencepiece
ftfy
diffusers>=0.30.0
torch>=2.2.0
pytorch-msssim
lpips
matplotlib
